spring:
  profiles:
    active: dev #默认启动是dev
    cloud:
      config:
        profile: ${spring.profiles.active} #环境 java -jar -d spring.profiles.active=test gift-eureak.jar
        name: application-zuul #gitee上面名称
        label: master #分支
        uri: http://127.0.0.1:1010 #配置服务器,相当于连上仓库曹
