/.idea/
/gift-support-parent/gift-eruka-service-10030/target/
/gift-basic-parent/gift-basic-common/target/
/gift-support-parent/gift-config-service-10010/target/
/gift-support-parent/gift-zuul-service-10040/target/


